PORT=5000
MONGO_URI=mongodb+srv://MASKED_(real_string_on_server)

ACCESS_TOKEN_SECRET=64_BIT_TOKEN_MASKED
ACCESS_TOKEN_EXPIRES_IN=5m

REFRESH_TOKEN_SECRET=64_BIT_TOKEN_MASKED
REFERSH_TOKEN_EXPIRES_IN=7d

EMAIL_USERNAME=enter an email username (gmail)
EMAIL_PASSWORD=enter an email password (gmail)
